.App {
  background-color: #000099;
}

.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;  
  width: 100%;    
}

.MainSection {
  width: 60%; float: left; color: white; font-family: "Arial";
}

.AsideSection {
  width: 40%; float: right; color: white;font-family:"Arial";
}

.Footer {clear: both; width: 100%; text-align: center; color: white;}

.Logo {width: 100%; background-image: url(assets/image/black_blue.jpg); background-repeat: repeat; background-size: 108px }

.Background {background-image:url(assets/image/Milano-stadio_Meazza.jpeg);background-size: 100% 100%;}

.Header {font-weight: bold;}