.App {
  background-color: #000099;
}

.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;  
  width: 100%;    
}

.MainSection {
  width: 60%; float: left; color: white; font-family: "Arial";
}

.AsideSection {
  width: 40%; float: right; color: white;font-family:"Arial";
}

.Footer {clear: both; width: 100%; text-align: center; color: white;}
